<div class="container-fluid">


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="../../../assets/img/logo.png" style="width: 75px;" alt="" srcset=""></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            
          </ul>
          <div class="row">	
            <div class="col-auto">
              <a href="/add-item" class="btn btn-info" style="width: 300px;" >Sell Your Product / Services</a>
            </div>
            <div class="col-auto">
            </div>
          </div>
            <a href="/search" class="btn btn-success" style="width: 200px;" >Search</a>
            
        </div>
      </div>
    </nav>
    <div class="main-cotent" style="padding-bottom: 120px;">
  <router-outlet></router-outlet>
    </div>
  
  <div class="footer">
  
    <footer class="footer bg-primary text-center text-white">
      <div class="p-3" style="background-color: rgba(0, 0, 0, 0.2)">
         
        <span style="float: left; ">
          <a href="#"><img src="../../../assets/img/logo.png" style="width: 30px;" alt="" srcset=""></a> 
        </span>
        © {{ currentYear }} Copyright:
        <a class="text-white" href="#">Anuradha Dissanayake</a>
        
        <span style="float: right; ">
          <a class="text-white" style="margin-left: 10px;" href="/home">Home</a>
          <a class="text-white" style="margin-left: 10px;" href="/about">About</a>
          <a class="text-white" style="margin-left: 10px;" href="/contact">Contact Us</a>
        </span>
      </div>
    </footer>
    
  
  </div>
  <!-- End of .container -->
  
  </div>
  