<div class="auth-maintenance d-flex align-items-center min-vh-100"
    style="background: linear-gradient(rgba(255,255,255,.9), rgba(0,0,0,.4)), url('../../../assets/img/02.png')">
    <div class="bg-overlay bg-sclight"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="auth-full-page-content d-flex min-vh-100 py-sm-5 py-4">
                    <div class="w-100">
                        <div class="d-flex flex-column h-100 py-0 py-xl-3">
                            <div class="card my-auto overflow-hidden" style="background: transparent;">
                                <div class="row g-0">
                                    <div class="col-md-12">
                                        <div class="container">
                                            <h1 style="color: #5369f8;">Registration</h1>
                                            <form>
                                                <div class="accordion" id="accordionExample"
                                                    style="background: transparent;">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button" type="button"
                                                                data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                                aria-expanded="true" aria-controls="collapseOne">
                                                                <b>Login Details</b>
                                                            </button>
                                                        </h2>
                                                        <div id="collapseOne" class="accordion-collapse collapse show"
                                                            data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <div class="mb-3">
                                                                    <label for="name" class="form-label">Name</label>
                                                                    <input #name type="name" class="form-control"
                                                                        id="name" placeholder="Name">
                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="email" class="form-label">Email
                                                                        address</label>
                                                                    <input #email type="email" class="form-control"
                                                                        id="email" placeholder="email">
                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="password"
                                                                        class="form-label">Password</label>
                                                                    <input #password placeholder="Password"
                                                                        type="password" class="form-control"
                                                                        id="exampleInputPassword1">
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="mb-3 form-check">
                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                    <label class="form-check-label" for="exampleCheck1">I agree all
                                                        Terms & Conditions</label>
                                                </div>
                                                <button type="submit" class="btn btn-primary"
                                                    (click)="authService.SignUp(email.value,password.value)">Submit</button>
                                                <p class="text-muted text-center mt-3 mb-0">Have an account? <a
                                                        href="/login" class="text-primary ml-1">Log In</a></p>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
