<div class="auth-maintenance d-flex align-items-center min-vh-100"
    style="background: linear-gradient(rgba(255,255,255,.9), rgba(0,0,0,.9)), url('../../../assets/img/log.jpeg')">
    <div class="bg-overlay bg-sclight"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="auth-full-page-content d-flex min-vh-100 py-sm-5 py-4">
                    <div class="w-100">
                        <div class="d-flex flex-column h-100 py-0 py-xl-3">
                            <div class="card my-auto overflow-hidden" style="background: transparent;">
                                <div class="row g-0">
                                    <div class="col-md-12">
                                        <div class="p-lg-5 p-4">
                                            <div>
                                                <form class="auth-input">
                                                    <div class="mb-2">
                                                        <label for="username" class="form-label">Email</label>
                                                        <input #email type="text" class="form-control" id="email"
                                                            placeholder="Enter username">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label" for="password-input">Password</label>
                                                        <input #password type="password" class="form-control"
                                                            placeholder="Enter password">
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="auth-remember-check" style="border: 1px solid #000;">
                                                        <label class="form-check-label"
                                                            for="auth-remember-check">Remember me</label>
                                                    </div>
                                                    <div class="mt-3">
                                                        <button type="button" class="btn btn-primary" style="width: 100%;"
                                                            (click)="authService.SignIn(email.value, password.value)" >Log in</button>
                                                    </div>
                                                    <p class="text-muted text-center mt-3 mb-0">Don't have an account?
                                                        <a href="/registration" class="text-primary ml-1">Register
                                                            Here</a></p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>