<div class="row">
<div class="col-md-12">

  <input [(ngModel)]="searchQuery" placeholder="Enter your search query" />
  <button (click)="search()">Search</button>
</div>
  
  <div class="col-md-8">
      <h2>Daraz</h2>
      <iframe [src]="sanitizedDarazIframeSrc" frameborder="0" width="100%" height="500px" title="daraz"></iframe>
    </div>
    
    <div class="col-md-6">
      <h2>Ikman</h2>
      <iframe [src]="sanitizedIkmanIframeSrc" frameborder="0" width="100%" height="500px" title="ikman"></iframe>
    </div>
    
    <div class="col-md-6">
      <h2>Ali</h2>
      <iframe [src]="sanitizedAliIframeSrc" frameborder="0" width="100%" height="500px" title="ali"></iframe>
    </div>
    
    <div class="col-md-6">
      <h2>Ebay</h2>
      <iframe [src]="sanitizedEbayIframeSrc" frameborder="0" width="100%" height="500px" title="ebay"></iframe>
    </div>

      <div class="col-md-4">
<h3>Comparission</h3>
      </div>
  </div>