<div class="card mb-3 mt-3">
  <div class="row g-0">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12">
          <img src="{{data.imageUrls[0]}}" class="img-fluid rounded-start" style="height: 65vh;" alt="...">
        </div>
        <ng-container *ngFor="let item of data.imageUrls.slice(1)">
          <div class="col-md-4">
            <img src="{{item}}" class="img-fluid rounded-start" style="height: 20vh;" alt="...">
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <div class="row">
          <div class="col-12" style="background-color: rgb(182, 110, 250); border-radius: 10px;">
            <h3 class="card-title">{{data.itemName}}</h3>
          </div>

          <div class="col-12"
            style="border: 2px solid #4d4d4d;border-radius: 5px; margin: 20px 0px;padding: 20px 10px;">
            <p class="card-text">{{data.description}}</p>
          </div>
          <div class="col-12">
            <h2 class="card-text" style="color:#fff ;"><small class="bg-success text-light"
                style="padding: 5px 20px;border-radius: 50px;float: right;">Rs. {{data.itemPrice}} /=</small></h2>
          </div>

          <div class="col-12" style="background-color: rgb(182, 110, 250); border-radius: 10px; margin-top: 30px;">
            <h3 class="card-title">Seller Details
            </h3>
          </div>
          <div style="border: 2px solid #4d4d4d;border-radius: 5px;margin: 20px 0px;padding: 20px 10px;">

            <div class="col-12">
              <p class="card-text"><b>Name : </b> {{data.name}}</p>
            </div>
            <div class="col-12">
              <p class="card-text"><b>Shop Name : </b> {{data.shopName}}</p>
            </div>
            <div class="col-12">
              <p class="card-text"><b>Shop Address : </b> {{data.shopAddress}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>